body{
    background-color:#6F5E5C ;
}
div{
    background-color: white;
    
    
}

h1{
    color: #D4DF9E;
     font-family: 'Caveat', cursive;;
}
h2 {
    color: #D4DF9E;
    font-family: 'Caveat', cursive;
    ;
}
a{color: #D4DF9E;

}
p{
    color: #FFFFEA;
}
table{
    color: #D4DF9E;
}